/****** General ***********/
@media (min-width: 300px) {
  * {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root {
    --main-color: #fcc0ce;
    --main-color: #eafbff;
    --main-color: #89c8fa;
    --main-color: #c5e2f8;
    --main-color: #eafbff;
    --main-bg-color: #d5f0f8;
    --filter-bg-color: #deebff;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    display: flex;
  }


  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }

  a {
    font-family: "roboto", sans-serif;
  }

  .location {
    width: 100%;
    text-align: center;
    background-color: rgba(234, 234, 234, 1);
    padding: 10px 0px 10px;
    margin: 10px 0px 10px 0px;
  }
}
