header {
  justify-content: center;
  font-family: $fontFamily;
  display: flex;
}

.arrow {
  display: flex;
  align-items: center;
}
.arrow i {
  font-size: 24px;
  color: #000;
  margin-right: 10px;
}