.header-menu {
  justify-content: flex-start;
  font-family: $fontFamily;
  display: flex;
}



.arrow img {
  width: 100%;
  height: auto;
}
.arrow {
  display: flex;
  align-items: center;
}
.arrow i {
  font-size: 24px;
  color: #000;
  margin-right: 75px;
}