@use './mixins' as *;

body {
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.search {
  text-align: center;
  background-color: rgba(234, 234, 234, 1);
  padding-top: 10px;
  padding-bottom: 10px;
}

input {
  border: none;
  background: transparent;
  font-size: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-bottom: 30px;
  background-color: #f6f6f6;

  &_button {
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    padding: 16px 32px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    color: #fff;
    cursor: pointer;

    &:hover {
      transition: all 0.3s ease;
      opacity: 0.85;
      &::after {
        border-radius: 25px;
        opacity: 1;
      }
    }
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin-bottom: 8px;
  }

  p {
    color: #666;
    margin-bottom: 24px;
  }

  a {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
    text-decoration: none;
  }
}
.steps {
  font-family: 'Roboto', sans-serif;
  padding: 32px 22px;
  display: flex;
  justify-content: center;

  &_number {
    position: relative;
    right: 30px;
    background: #9b4dff;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    background: #f6f6f6;
    border-radius: 20px;
    padding: 24px;
    margin: 10px 10px 10px 0;
    display: flex;
    gap: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .steps-desktop {
    @include respond(desktop) {
      max-width: 1024px;
      margin: 0 auto;
      gap: 20px;
      display: flex;
    }
  }
}

.restaurants {
  margin: 0 auto;
  width: 100%;
  padding: 33px 0px;
  background-color: #f6f6f6;
  font-family: 'Roboto', sans-serif;


  .dish {
    @include respond(desktop) {
      max-width: 1400px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      grid-gap: 20px;
      padding-top: 20px;
    }

    h3 {
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 10px;
    }

    .heart {
      font-size: 18px;
      padding-right: 50px;
      position: relative;
      top: 15px;

      .heart-checkbox {
        display: none; /* Cache la checkbox */

        &:checked + .heart-label {
          .fa-regular {
            opacity: 0; /* Cache le cœur vide quand coché */
          }
          .fa-solid {
            opacity: 1; /* Montre le cœur plein quand coché */
            color: transparent;
            background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
            background-clip: text;
            -webkit-background-clip: text;
          }
        }
      }

      .heart-label {
        cursor: pointer;
        position: relative;

        .fa-regular .fa-solid {
          transition: opacity 0.3s ease; 
        }

        .fa-solid {
          position: absolute;
          left: 0;
          opacity: 0; /* Cœur plein caché par défaut */
        }
      }
    }

    p {
      display: flex;
      justify-content: space-between;
      font-size: 17px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 174px;
      display: block;
      border-radius: 15px 15px 0 0;
    }
    .card {
      position: relative;
      width: 100%;
      background: white;
      border-radius: 15px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      margin-bottom: 20px;

      @include respond(desktop) {
        flex: 33%;
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      padding: 15px;
    }

    &_img_new {
      position: relative;
    }

    span {
      position: absolute;
      top: 15px;
      right: 15px;
      background-color: #a8edea;
      color: #008060;
      font-weight: 600;
      padding: 4px 10px;
      font-size: 14px;
    }
  }
}
