.main-menu img {
  width: 100%;
  height: auto;
  @include respond(desktop) {
    height: 383px;
    object-fit: cover;
  }
}

.restaurant-title {
  max-width: 1055px;
  margin: 0 auto;
  position: relative;
  bottom: 55px;
  padding: 24px 16px 0;
  background: #f6f6f6;
  font-family: $fontFamily;
  border-radius: 40px;

  .entrees {
    animation-name: apear;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
  }
  .plats {
    animation-name: apear;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
  }
  .desserts {
    animation-name: apear;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: both;
  }
}

h2 {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  margin: 0;
  font-family: $fontFamily2;
  @include respond(desktop) {
    justify-content: center;
  }
}

.fa-heart{
transition-property: all;
animation-fill-mode: both;
}
.fa-heart:hover{
  opacity: 1;
  color: #9747ff;
  
}

.menu-category {
  max-width: 634px;
  margin: 0 auto;
  padding: 24px 24px 0px 0px;
  font-size: 14px;
  font-family: $fontFamily;
}

.menu-category-title {
  display: ruby-text;
  border-bottom: 2px solid rgb(153, 226, 208);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  margin: 0;

  font-family: $fontFamily;
}

h4 {
  font-size: 18px;
  margin: 5px;
  font-family: $fontFamily;
}

.menu-item {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  padding: 10px 10px 0px 10px;
  background-color: rgba(255, 255, 255, 1);
  font-family: $fontFamily;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  border-radius: 15px;
  cursor: pointer;

  .price {
    position: relative;
    bottom: 15px;
    font-weight: bold;
    right: 0;
    transition: right 1s ease;
  }

  .check {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -45px;
    background-color: #99e2d0;
    color: #fff;
    height: 100%;
    width: 45px;
    transition: right 1s ease;
  }
  &:hover {
    .check {
      right: 0;
    }
    .price {
      right: 45px;
    }
    .content{
      width: 75%;
    }
    h4, p{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.order-btn {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  padding: 16px 32px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  color: $white;
  cursor: pointer;
  &:hover {
    transition: all 0.3s ease;
    opacity: 0.85;
    &::after {
      border-radius: 25px;
      opacity: 1;
      }
    }
  }

.order {
  display: flex;
  justify-content: center;
  position: relative;
  top: 25px;
}

/* Keyframes */

@keyframes apear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
