
.main-menu img {
  width: 100%;
  height: auto;
   @include respond(desktop) {
    height: 383px;
    object-fit: cover;
} 
}

.restaurant-title {
  max-width: 1055px;
  margin: 0 auto;
  position: relative;
  bottom: 55px;
  padding: 24px 16px 0;
  background: #f6f6f6;
 font-family: $fontFamily;
 border-radius: 40px;

 
}

h2 {
  display: flex;
   justify-content: space-between;
  font-size: 28px;
  margin: 0;
   font-family: $fontFamily2;
   @include respond(desktop) {
   justify-content: center;
}
}


.menu-category {
  max-width: 634px;
  margin: 0 auto;
  padding: 24px 24px 0px 0px;
  font-size: 14px;
  font-family: $fontFamily;
}


.menu-category-title {
  display: ruby-text;
  border-bottom: 2px solid rgb(153, 226, 208);
   padding-bottom: 10px;
    margin-bottom: 10px;

    .entrees{
    animation-name: apear;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
  }
  .plats{
    animation-name: apear;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
  }
  .desserts{
    animation-name: apear;
    animation-duration: 1s; 
    animation-delay: 3s;
    animation-fill-mode: both;
  }
}

h3 {
  font-size: 24px;
  margin: 0;
 
  font-family: $fontFamily;
}

h4 {
  font-size: 18px;
  margin: 5px;
  font-family: $fontFamily;
}

  

.menu-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  padding: 10px 10px 0px 10px;
  background-color: rgba(255, 255, 255, 1);
  font-family: $fontFamily;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.menu-item::before {
  content: "check";
  position: absolute;
  inset: 1;
  background-color: #99e2d0;
  transform: scaleX(0);
  transform-origin: right; 
  transition: transform 0.4s ease-out;
  z-index: 0;
  border-radius: 15px;
}

.menu-item:hover::before {
  transform: scaleX(1); 
}

.menu-item .price {
  position: relative;
    bottom: 15px;
  font-weight: bold;
}

.order-btn {
  width: 50%;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    padding: 16px 32px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    color: $white;
    cursor: pointer;
    @include respond(desktop) {
      width: 25%;
    }
}


.order{
  display: flex;
  justify-content: center;
  position: relative;
    top: 25px;
}

/* Keyframes */

@keyframes apear{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}