@mixin button-gradient {
  background: linear-gradient(90deg, $primary, $secondary);
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == desktop {
    @media (min-width: 1024px) { @content; }
  }
}

