@charset "UTF-8";
footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 22px 25px 22px 25px;
  font-family: "Roboto", sans-serif;
}
footer p {
  margin: 15PX;
  font-size: 18px;
}
footer .fa-xs {
  color: white;
  margin: 7px;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
@media (min-width: 1024px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }
}
footer li {
  margin: 5px;
}
footer h5 {
  font-family: shrikhand, cursive;
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: 8px;
  margin-top: 0;
}
@media (min-width: 1024px) {
  footer h5 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 40px;
  }
}

.main-content {
  opacity: 0;
  animation: show 0s forwards;
  animation-delay: 3s;
}

@keyframes show {
  to {
    opacity: 1;
  }
}
.loader-container {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: hide 0s forwards;
  animation-delay: 3s;
}

@keyframes hide {
  to {
    display: none;
    visibility: hidden;
  }
}
header {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
header a {
  position: absolute;
  top: 25px;
  left: 25px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.progress-bar {
  width: 300px;
  height: 10px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  background-color: #9356dc;
  animation-name: fill;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes fill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

.search {
  text-align: center;
  background-color: rgb(234, 234, 234);
  padding-top: 10px;
  padding-bottom: 10px;
}

input {
  border: none;
  background: transparent;
  font-size: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}
.hero_button {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  padding: 16px 32px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
}
.hero_button:hover {
  transition: all 0.3s ease;
  opacity: 0.85;
}
.hero_button:hover::after {
  border-radius: 25px;
  opacity: 1;
}
.hero h1 {
  font-size: 24px;
}
.hero h2 {
  font-size: 24px;
  margin-bottom: 8px;
}
.hero p {
  color: #666;
  margin-bottom: 24px;
}
.hero a {
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
  text-decoration: none;
}

.steps {
  font-family: "Roboto", sans-serif;
  padding: 32px 22px;
  display: flex;
  justify-content: center;
}
.steps_number {
  position: relative;
  right: 30px;
  background: #9b4dff;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.steps li {
  background: #f6f6f6;
  border-radius: 20px;
  padding: 24px;
  margin: 10px 10px 10px 0;
  display: flex;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
@media (min-width: 1024px) {
  .steps .steps-desktop {
    max-width: 1024px;
    margin: 0 auto;
    gap: 20px;
    display: flex;
  }
}

.restaurants {
  margin: 0 auto;
  width: 100%;
  padding: 33px 0px;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 1024px) {
  .restaurants .dish {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    padding-top: 20px;
  }
}
.restaurants .dish h3 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.restaurants .dish .heart {
  font-size: 18px;
  padding-right: 50px;
  position: relative;
  top: 15px;
}
.restaurants .dish .heart .heart-checkbox {
  display: none; /* Cache la checkbox */
}
.restaurants .dish .heart .heart-checkbox:checked + .heart-label .fa-regular {
  opacity: 0; /* Cache le cœur vide quand coché */
}
.restaurants .dish .heart .heart-checkbox:checked + .heart-label .fa-solid {
  opacity: 1; /* Montre le cœur plein quand coché */
  color: transparent;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
}
.restaurants .dish .heart .heart-label {
  cursor: pointer;
  position: relative;
}
.restaurants .dish .heart .heart-label .fa-regular .fa-solid {
  transition: opacity 0.3s ease; /* Animation douce */
}
.restaurants .dish .heart .heart-label .fa-solid {
  position: absolute;
  left: 0;
  opacity: 0; /* Cœur plein caché par défaut */
}
.restaurants .dish p {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.restaurants .dish img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 174px;
  display: block;
  border-radius: 15px 15px 0 0;
}
.restaurants .dish .card {
  position: relative;
  width: 100%;
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .restaurants .dish .card {
    flex: 33%;
  }
}
.restaurants .dish .content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.restaurants .dish_img_new {
  position: relative;
}
.restaurants .dish span {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #a8edea;
  color: #008060;
  font-weight: 600;
  padding: 4px 10px;
  font-size: 14px;
}

.main-menu img {
  width: 100%;
  height: auto;
}
@media (min-width: 1024px) {
  .main-menu img {
    height: 383px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.restaurant-title {
  max-width: 1055px;
  margin: 0 auto;
  position: relative;
  bottom: 55px;
  padding: 24px 16px 0;
  background: #f6f6f6;
  font-family: "Roboto", sans-serif;
  border-radius: 40px;
}
.restaurant-title .entrees {
  animation-name: apear;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}
.restaurant-title .plats {
  animation-name: apear;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
}
.restaurant-title .desserts {
  animation-name: apear;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

h2 {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  margin: 0;
  font-family: "Shrikhand", cursive;
}
@media (min-width: 1024px) {
  h2 {
    justify-content: center;
  }
}

.heart {
  position: relative;
  left: 15px;
}
.heart .heart-checkbox {
  display: none;
}
.heart .heart-checkbox:checked + label .fa-regular {
  opacity: 0;
}
.heart .heart-checkbox:checked + label .fa-solid {
  opacity: 1;
  color: transparent;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
}
.heart label {
  cursor: pointer;
  position: relative;
  left: -40px;
}
@media (min-width: 1024px) {
  .heart label {
    left: 15px;
  }
}
.heart label .fa-regular {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.heart label .fa-solid {
  position: absolute;
  opacity: 0;
  color: transparent;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  transition: opacity 0.3s ease;
}

.menu-category {
  max-width: 634px;
  margin: 0 auto;
  padding: 24px 24px 0px 0px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.menu-category-title {
  display: ruby-text;
  border-bottom: 2px solid rgb(153, 226, 208);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h4 {
  font-size: 18px;
  margin: 5px;
  font-family: "Roboto", sans-serif;
}

.menu-item {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  padding: 10px 10px 0px 10px;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  border-radius: 15px;
  cursor: pointer;
}
.menu-item .price {
  position: relative;
  bottom: 15px;
  font-weight: bold;
  right: 0;
  transition: right 1s ease;
}
.menu-item .check {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -45px;
  background-color: #99e2d0;
  color: #fff;
  height: 100%;
  width: 45px;
  transition: right 1s ease;
}
.menu-item:hover .check {
  right: 0;
}
.menu-item:hover .price {
  right: 45px;
}
.menu-item:hover .content {
  width: 75%;
}
.menu-item:hover h4,
.menu-item:hover p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.order-btn {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  padding: 16px 32px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
}
.order-btn:hover {
  transition: all 0.3s ease;
  opacity: 0.85;
}
.order-btn:hover::after {
  border-radius: 25px;
  opacity: 1;
}

.order {
  display: flex;
  justify-content: center;
  position: relative;
  top: 25px;
}

/* Keyframes */
@keyframes apear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */